/* background */

body {
    background-color: aquamarine;
}

/* jumbotron */

.jumbotron {
    background-color: lightpink !important;
    margin-left: 30px !important;
    margin-right: 30px !important;
    margin-top: 10px !important;
}

/* randomnumber box */

.randomNumber {
    border: 2px solid plum;
    padding: 3%;
    background-color: plum;
    color: black;
    font-size: 40px;
    margin-top: 5px;
}

/* wins/loses */

.totals {
    border: 2px solid lightblue;
    padding: 2%;
    background-color: lightblue;
    margin-top: 5px;
    margin-left: 3px;
    font-weight: bold;
}

.totalScore {
    border: 2px solid peachpuff;
    background-color: peachpuff;
    font-weight: bold;
}

.scoreDisplay {
    border: 2px solid peachpuff;
    padding: 3%;
    background-color: peachpuff;
    margin-top: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 20px;
}

.gems {
    margin-top: 5px;
    margin-bottom: 5px;
}